/* base.html css */
#brandImg {
  height: 40px;
  margin-top: -10px;
  border-radius: 10px;
}

#headerDiv {
  background: chocolate;
  position: fixed;
  width: 100%;
  margin-top: -1px;
  margin-left: -1px;
  z-index: 1;
}

#registerLogin {
  float: right;
}

.navFont {
  font-family:Lora;
  font-size:20px;
}

.navbar-default .navbar-nav>li>a {
    color: yellow;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: 006600;
    font-weight: bold;
}

#navUsername {
  color:rebeccapurple!important;
}

/* movie listing */
#results {
  position:relative;
  left:-21px;
}

.moviePoster {
	height: 281px;
	margin-left: 15px;
	border-radius: 10px;
	box-shadow: 2px 1px 1px black;
}

#overview {
  font-weight: bold;
  max-width:700px;
  margin: auto;
}

#searchDiv {
	text-align: center;
  padding-top: 50px;
}

.castCrewTitle {
  color:silver!important;
  max-width:115px;
  margin:auto;
}

.guestStarTitle {
  color: red;
  max-width:115px;
  text-align: center;
  word-wrap: break-word;
}

.guestStarName {
  max-width:115px;
  text-align: center;
  word-wrap: break-word;
}

.castPoster {
	height: 150px;
	width: auto;
	border-radius: 10px;
	box-shadow: 2px 1px 1px black;
	margin-top: 10px;
}

.seasonDiv {
  text-align:center;
}

.seasonPoster {
  height: 281px;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
}

.guestCastPoster {
  margin-left: 9px;
  height: 150px;
  width: auto;
  border-radius: 10px;
  box-shadow: 2px 1px 1px black;
  margin-top: 10px;
}

.backdrop {
	height:281px;
	border-radius: 10px;
	box-shadow: 2px 1px 1px black;
}

.castDiv {
	text-align:center;
	background-color:darkred; 
	border-radius:5px;
}

.crewDiv {
	text-align:center;
	background-color:saddlebrown; 
	border-radius:5px;
  padding-top: 1px;
}

.episodeDiv {
  text-align:center;
  background-color:rosybrown; 
  border-radius:5px;
}

#movieList {
	list-style: none;
}

.movieListings {
	text-align: center;
}

/* tv listing */
#title {
  border-radius: 10px;
  padding-left: 5px;
}

#submitButton {
  border-radius: 10px;
}

/* modal css */
.modalDiv {
	background-color: silver;
	border-radius: 10px;
  margin-top:-25px;
}

.modal-title {
	background-color: gray;
  text-align: center;
  color: palegreen;
  border-radius: 10px;
}

.guestTitle {
  background-color: gray;
  text-align: center;
  color: palegreen;
  border-radius: 10px;
}

.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

/* register and login css */
.backgroundDiv {
  background-color: grey;
  min-height: 692px;
  margin-top:-20px;
  font-family:Lora;
}

.helptext {
  display: block;
}

#id_username, #id_email, #id_password1, #id_password2, #id_first_name,#id_last_name {
  border-radius:10px;
  width: 50%;
  padding-left: 7px;
}

#registrationForm {
  display: inline-block;
}

label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: blue;
}

#register, #login {
  text-align: center;
  background-color: burlywood;
  box-shadow: 2px 2px 2px black;
  position: relative;
  top: 40px;
  width: 37%;
}

.logRegForm {
  border-radius: 10px;
  color: green;
  padding-left: 6px;
}