{% extends "base.html" %}

{%block content%}
<div class="backgroundDiv">
	<div id = "login" class="container">
	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}
	<h2>Login Form</h2>
	<form id="loginForm" action="/accounts/auth/" method="post">{% csrf_token %}
		<label for="username">User name:</label>
		<input type="text" name="username" value="" id="id_username">
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="id_password1">
		<br>
		<br>
		<input style="border-radius: 5px; color:green;" type="submit" value="login" />
	</form>
	</div>
</div>

{% endblock %}
