{% extends "base.html" %}
{%block content%}
	<script src="/static/registerLogin.js"></script>
	<h1>Register</h1>
	<form id = "register">
		<input id="registerName" type="text" placeholder="User Name"/>
		<br>
		<input id="registerPassword" type="text" placeholder="Password"/>
		<br>
		<input id="registerAvatar" type="text" placeholder="Avatar Url"/>
		<br>
		<input id="registerSubmit" type="submit" placeholder="Submit"/>
	</form>
	<p style="line-height: 200%; text-align: center; width: 300px;">Bushwick shoreditch hashtag mumblecore affogato pinterest, swag blog food truck godard meggings gochujang whatever next level. Tacos drinking vinegar messenger bag, raw denim tote bag deep v gentrify kogi brooklyn. Echo park celiac hashtag pug, vinyl synth sustainable sriracha poutine YOLO. Food truck chambray celiac, raw denim jean shorts quinoa microdosing fashion axe pour-over selvage pickled tumblr godard. Austin wolf bitters etsy fingerstache. Forage dreamcatcher ennui DIY +1. Organic vice viral, 90's mustache letterpress ramps mumblecore chambray dreamcatcher umami everyday carry celiac tote bag tumblr.

Tattooed messenger bag plaid literally, etsy celiac marfa quinoa readymade actually aesthetic post-ironic PBR&B tote bag salvia. Banjo mlkshk DIY lumbersexual cronut. Brooklyn VHS hammock +1, mlkshk crucifix butcher four dollar toast. Church-key irony ugh etsy bicycle rights, locavore celiac taxidermy freegan mixtape swag brooklyn butcher yuccie fanny pack. Next level chicharrones single-origin coffee, bicycle rights celiac banjo fashion axe pabst pitchfork intelligentsia farm-to-table. Yuccie cliche single-origin coffee, kinfolk wolf cold-pressed ugh fashion axe mumblecore ramps retro helvetica stumptown. Roof party meggings chambray kogi.

Quinoa gochujang pickled stumptown. Fashion axe tacos fingerstache direct trade, microdosing austin keffiyeh swag pabst flannel actually. Four loko yuccie put a bird on it polaroid disrupt marfa, direct trade raw denim wayfarers roof party tousled vice neutra forage banjo. Portland tacos microdosing helvetica, meggings lo-fi biodiesel keffiyeh. Quinoa locavore cornhole chambray, kickstarter forage skateboard jean shorts you probably haven't heard of them food truck cardigan listicle. Yr offal occupy tofu authentic lo-fi. Craft beer pinterest blog authentic health goth.

Intelligentsia lomo pug cornhole. Chillwave meh heirloom, normcore 3 wolf moon flannel PBR&B listicle brooklyn synth ethical man braid lo-fi gochujang. Swag roof party sriracha freegan, hoodie celiac chambray art party listicle raw denim brooklyn kitsch. Small batch listicle stumptown, authentic chia etsy keffiyeh +1 tacos chillwave messenger bag fanny pack irony mixtape. Poutine 3 wolf moon DIY kogi yuccie helvetica, pug sriracha truffaut pitchfork pork belly flexitarian. Artisan put a bird on it health goth farm-to-table deep v small batch. Meditation hashtag put a bird on it photo booth flannel.</p>
{%endblock%}