{% extends "base.html" %}
{%block content%}
<div class="backgroundDiv">
	<div id = "login" class="container">	
		<h1>Register</h1>
		<form id = "registerForm">
			<input class="logRegForm" id="registerName" type="text" placeholder="User Name"/>
			<br>
			<br>
			<input class="logRegForm" id="registerPassword" type="password" placeholder="Password"/>
			<br>
			<br>
			<input class="logRegForm" id="registerAvatar" type="text" placeholder="Avatar Url"/>
			<br>
			<br>
			<input class="logRegForm" id="registerSubmit" type="submit" placeholder="Submit"/>
			<br>
		</form>
	</div>
</div>
<script src="/static/registerLogin.js"></script>
{%endblock%}