{% extends "base.html" %}

{%block content%}

<div class="backgroundDiv">
	<div id = "login" class="container">
	<h1>Registration Form</h1>
	<form id="RegistrationForm" name="RegisterForm" action="/accounts/register/" method="post">{% csrf_token %}
	{{form}}
	{{form.errors}}
	<p>Note: password must be at least 8 characters in length!</p>
	<p>Note: only username and passwords are required</p>
	<input style="border-radius: 5px; color:green;" type="submit" value="Register" />

	</form>
	</div>
</div>
{% endblock %}